footer {
    background-color: rgba(47, 0, 0, 0.8);
    padding: 8px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;

    p {
        font-size: .8rem;
        font-family: 'Gaegu', cursive;
        color: #E7D0D0;
        display: inline-block
    }

    .hotpink {
        background-color: hotpink;
        color: #fff;
        padding: 0 5px;
        border-radius: 5px;
        font-family: 'Pacifico', cursive;
        font-size: .9rem;
        float: right;
    }
}