#userInterfaceForm {
    margin-top: 10vh;
    background-color: rgba(243, 231, 231, 0.6);
    width: 50%;
    min-width: 300px;
    margin: 10vh auto 10px;
    border: 2px solid #2F0000;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Gaegu', cursive;
    color: #2F0000;
}