section {
    margin-top: 10vh;
    background-color: rgba(243, 231, 231, 0.6);
    width: 50%;
    margin: 10vh auto 10px;
    border: 2px solid #2F0000;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Gaegu', cursive;
    color: #2F0000;

    @media screen and (max-width: 750px) {
        width: 75%;
    }

    @media screen and (max-width: 450px) {
        width: 95%;
    }


    .form-item {
        margin: 10px 0;

        label {
            width: 35%;
            text-align: left;
            float: left;
            clear: both;

            @media screen and (max-width: 750px) {
                float: none;
                width: 100%;
            }
        }

        input,
        select {
            width: 50%;
            font-family: 'Gaegu', cursive;
            background-color: #F3E7E7;

            @media screen and (max-width: 750px) {
                width: 100%;
            }
        }

        input.button {
            background-color: #230000;
        }
    }
}