main {
    padding: 20px 10px;
    max-width: 1000px;
    margin: auto;
    text-align: center;

    input.button {
        width: 70%;
        color: #F3E7E7;
        background-color: #230000;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 7px;
        border: none;
        margin: auto;
        max-width: 400px;
        font-family: 'Gaegu', cursive;
    }

    .color-amount {
        color: #D62246;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .color-tip {
        color: #4E5951;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .color-total {
        color: #094644;
        font-weight: bold;
        font-size: 1.3rem;
    }
}