@import url("https://fonts.googleapis.com/css?family=Gaegu|Lakki+Reddy");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 16px; }

body {
  background-image: url(/assets/images/coffee.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center; }

header {
  background-color: rgba(47, 0, 0, 0.8);
  padding: 15px;
  text-align: center; }
  header h1 {
    font-family: 'Lakki Reddy', cursive;
    font-weight: normal;
    color: #E7D0D0; }

main {
  padding: 20px 10px;
  max-width: 1000px;
  margin: auto;
  text-align: center; }
  main input.button {
    width: 70%;
    color: #F3E7E7;
    background-color: #230000;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 7px;
    border: none;
    margin: auto;
    max-width: 400px;
    font-family: 'Gaegu', cursive; }

section {
  margin-top: 10vh;
  background-color: rgba(243, 231, 231, 0.6);
  width: 50%;
  margin: 10vh auto 10px;
  border: 2px solid #2F0000;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Gaegu', cursive;
  color: #2F0000; }
  @media screen and (max-width: 750px) {
    section {
      width: 75%; } }
  @media screen and (max-width: 450px) {
    section {
      width: 95%; } }
  section .form-item {
    margin: 10px 0; }
    section .form-item label {
      width: 35%;
      text-align: left;
      float: left;
      clear: both; }
      @media screen and (max-width: 750px) {
        section .form-item label {
          float: none;
          width: 100%; } }
    section .form-item input,
    section .form-item select {
      width: 50%;
      font-family: 'Gaegu', cursive;
      background-color: #F3E7E7; }
      @media screen and (max-width: 750px) {
        section .form-item input,
        section .form-item select {
          width: 100%; } }
